/*Global*/
body{
  padding: 0;
  margin: 0;
  background-color: #fff;
}
.clear{
  clear: both;
}

/*End-Global*/
header{
  color: #fff;
  border-bottom: 1px solid #ccc;
}
header h1{
  margin-left: 100px;
  margin-top: 0;
  padding: 17px;
  background-color: #4aaaa5;
  float: left;
}
nav li{
  float: left;
  padding: 17px;
  overflow: hidden;
}
nav a{
  text-decoration: none;
}
.border{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
